bin
*.o
*.a
.idea
test/e2e/udsTest
test/fuzz/cni/cni-fuzz.zip

!test/fuzz/cni/outputAdd/
test/fuzz/cni/outputAdd/*
!test/fuzz/cni/outputAdd/corpus/
test/fuzz/cni/outputAdd/corpus/*
!test/fuzz/cni/outputAdd/corpus/config*

!test/fuzz/cni/outputDel/
test/fuzz/cni/outputDel/*
!test/fuzz/cni/outputDel/corpus/
test/fuzz/cni/outputDel/corpus/*
!test/fuzz/cni/outputDel/corpus/config*
