bin
*.o
*.a
.idea
*.ll
test/e2e/udsTest
test/fuzz/cni/cni-fuzz.zip
test/fuzz/test/fuzz/deviceplugin/uds/fuzz_error.log
test/fuzz/test/fuzz/deviceplugin/uds/uds-fuzz.zip

!test/fuzz/cni/outputAdd/
test/fuzz/cni/outputAdd/*
!test/fuzz/cni/outputAdd/corpus/
test/fuzz/cni/outputAdd/corpus/*
!test/fuzz/cni/outputAdd/corpus/config*

!test/fuzz/cni/outputDel/
test/fuzz/cni/outputDel/*
!test/fuzz/cni/outputDel/corpus/
test/fuzz/cni/outputDel/corpus/*
!test/fuzz/cni/outputDel/corpus/config*

!test/fuzz/deviceplugin/uds/outputUDS/
test/fuzz/deviceplugin/uds/outputUDS/

.vscode
